* {
  box-sizing: border-box;
}
body {
  background-image: url(./images/73ltcd74njp21.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 100vh;
}
@media (min-width: 900px) {
  body {
    background-image: url(./images/full-size-background.jpg);
  }
}
body, .submit, .go-back {
  font-family: 'Balsamiq Sans', cursive;
}
.header {
  width: 100%;
  height: 150px;
  background: linear-gradient(rgb(38, 109, 201), white);
  text-align: center;
  padding-top: 50px;
  border-radius: 10px;
  border: 1px solid black;
}
.p-grow-24 {
  font-size: 24px;
}
.p-grow-30 {
  font-size: 30px;
}
.center {
  text-align: center;
  height: 40px;
}
.textbox {
  width: 75%;
  max-width: 300px;
  height: 75%;
  margin-bottom: 10px;
}
.submit {
  background-color: rgb(39, 191, 211);
  width: 75%;
  max-width: 300px;
  height: 100%;
  border-radius: 10px 10px;
  border: 1px solid black;
  cursor: pointer;
  padding-bottom: 40px;
}
.width-100 {
  width: 100%;
}
.hidden {
  display: none;
}
.flex {
  display: flex;
  justify-content: center;
}
.pad-left {
  padding-left: 5px;
}
.margin-top {
  margin-top: 10px;
}
.gif {
  width: 100%;
  max-width: 300px;
  height: auto;
  max-height: 200px;
  margin: auto;
  margin-bottom: 10px;
}
.skyblue {
  color: rgb(133, 176, 211);
  text-shadow: 2px 2px 2px black, -2px -2px 2px black, -2px 2px 2px black, 2px -2px 2px black;
}
